/* .coupon-card {
  cursor: pointer;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.2s ease;
  padding: 30px;
} */

.coupon-card:hover {
  transform: translateY(-4px);
}
.coupon-section {
 
  background: #fff; /* Set black background */
}

.coupon-card {
  padding: 0;
  background: none;
  box-shadow: none;
  border-radius: 0;
  overflow: hidden;
  height: 250px;
}

.coupon-content {
  margin: 0;
  padding: 0;
  background: none;
  border-radius: 0;
  height: 100%;
  display: block;
}

.coupon-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.coupon-info {
  padding: 12px;
  background-color: #fff;
  text-align: left;
}

.coupon-title {
  font-weight: 600;
  font-size: 16px;
  color: #333;
  margin-bottom: 4px;
}
